$color-blue-1: #2a73dd;
$color-blue-2: #1d365e;

//nested
.container {
  width: 90%;
  margin: 0 auto;
}
//header
header {
  nav {
    a {
      color: $color-blue-2;
      transition: 0.3s;
      &:hover {
        color: $color-blue-1;
      }
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 0%;
        height: 2px;
        background: $color-blue-1;
        transition: 0.3s;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  .logo {
    font-size: 50px;
    color: $color-blue-1;
  }
}
//title
.title {
  background-color: $color-blue-2;
  h1 {
    color: whitesmoke;
  }
  select {
    cursor: pointer;
  }
}

thead {
  tr {
    background-color: $color-blue-2;
    border-color: black;
  }

  color: whitesmoke;
}

tbody {
  tr {
    td {
      text-align: center;
    }
  }
}
